*{
    padding: 0;
    margin: 0;
}

html{
    font: 12px/1.5 Arial , sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    gap:1em;
    padding: 1em;
}

@media (min-width:500px){
    body{
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 1.2em;
    }
    
    .site-footer,
    .site-header{
        flex: 1 1 100%;
    }
    
    .site-aside{
        flex: 0 1 25%;
    }
    
    .site-main{
        flex: 1 1 calc(65% - 1em);
    }
}

body > * {
    border-radius: 0.4em;
    background-color: lightblue;
}

.site-header p {
    padding: 1.5em 0.5em;
    font-size: 2em;
    font-weight: bold;
    line-height: 1;
}

.site-aside ul {
    list-style: none inside;
    padding: 1em;
}

.site-aside li {
    padding: 0.4em;
}

.site-aside a {
    text-decoration: none;
}

.site-main{
    padding: 1em;
}

.site-main h2 {
    font-size: 2em;
}

.site-main ul {
    list-style: inside;
    padding: 0.5em 1.5em;
}

.site-footer {
    padding: 0.5em 1em;
}