*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 2em;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

.container{
    display: flex;
    gap: 1em;
}

.card{
    width: 60px;
    height: 300px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.4);
    border-radius: 0.4em;
    transition: all 0.3s ease-in;
}

.card:hover{
    width: 400px;
    flex: 0 0 400px;
    border: 5px solid black;
}

.card img{
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} 